@plugin "daisyui";
@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #d35400;
  --color-accent: #ffb400;
  --color-background: #ffb400;
  --color-2nd: #fff3e6;
  --color-white: #fcfcfc;
  --color-foreground: #8a8a8a;
  --color-border: #00000014;
  --color-primary-foreground: #ffffff;
  --color-secondary: #fed7ad;
  --color-secondary-foreground: #5a2f0e;
  --color-muted: #f3f2f1;
  --color-pure-white: #ffffff;
}

.btn-primary {
  @apply bg-primary text-white px-5 py-3 rounded-[6px];
}

.btn-secondary {
  @apply bg-[#FFF3E6] text-[#5A2F0E] px-5 py-3 rounded-[6px];
}

.heading1 {
  @apply text-3xl font-bold;
}

.paragraph1 {
  @apply text-[20px] text-[#868585];
}
.paragraph2 {
  @apply text-[22px] text-[#000000];
}

.paraHeading {
  @apply text-[20px] font-semibold;
}
